body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555;
}

.txt-white {
  color: white;
}

.card {
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.DEV {
  background-color: blue;
}

.DBA {
  background-color: green;
}

.DESIGNER {
  background-color: red;
}

#funcionarios {
  margin-bottom: 30px;
}

#container-detalhesfuncionario {
  background-color: #ccc;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  visibility: hidden;

}

#container-detalhes-funcionario img {
    max-height: 300px;

}